.search-results-page {
    min-width: 1260px;
}

.spacing {
    min-width: 850px;
    margin-left: 170px;
}

em {
    font-weight: bold;
}

/* MAIN NAVIGATION - TOP OF PAGE */

.top-menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo-top {
    height: 30px;
    width: auto;
    margin-left: 20px;
}

/* SECONDARY NAVIGATION - SEARCH MENU */

.search-menu {
    height: 45px;
    margin-top: 10px;
    color: #5f6368;
    font-family: 'Open Sans', Arial, sans-serif;
    border-bottom: 1px solid #ebebeb;
}

.search-menu a {
    color: inherit;
    text-decoration: none;
}

.search-menu-container, .search-menu-left, .search-menu-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.search-menu-container {
    width: 650px;
}

.search-menu-item {
    border-bottom: 3px solid transparent;
    margin-right: 24px;
    padding: 15px 0 11px;
}

.search-menu-item:last-child {
    margin-right: 0;
}

.search-menu-item.active {
    border-bottom: 3px solid #1a73e8;
    color: #1a73e8;
}

.search-menu-item a {
    display: flex;
}

.search-menu-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    fill:#5f6368;
}

.icon-text {
    padding-left: 5px;
    line-height: 16px;
}

.tools:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    transition: all 0.0s;
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.search-menu-right span {
    padding: 4px 10px;
    line-height: 16px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.about-results {
    height: 43px;
    line-height: 43px;
    color: #70757a;
    font-family: 'Open Sans', Arial, sans-serif;
}

/* ACTUAL SEARCH RESULTS */

.result {
    width: 600px;
    margin-bottom: 30px;
}

h3 {
    font-size: 20px;
    line-height: 1.3;
    color: rgb(26, 13, 171);
    padding-top: 5px;
    margin-bottom: 3px;
}

h3:hover {
    text-decoration: underline;
}

cite {
    color: #202124;
    line-height: 1.3;
    display: flex; 
    align-items: center;
}

cite::after {
    content: "";
    border: 5px solid transparent;
    border-top-color: rgb(112, 117, 122);
    margin-left: 5px;
    margin-top: 6px;
}

.result-url a {
    display: flex;
    flex-direction: column-reverse;
    text-decoration: none;
}

.res-url-gray {
    color: #5f6368;
    margin-left: 3px;
}

.result-desc {
    color: #4d5156;
    line-height: 1.58;
}

.date {
    color: #70757a;
}

/* PEOPLE ASK SECTION */

.ppl-ask {
    overflow: hidden;
    width: 640px;
    margin-bottom: 30px;
    }

.ppl-ask h2 {
    font-size: 22px;
    line-height: 1.3;
    padding-bottom: 6px;
    border-bottom: 1px solid #eee;
}

.ppl-ask input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.question {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    font-size: 16px;
}

.ques-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 14px 0;
}

.ques-title::after {
    content: "";
    width: 6px;
    height: 6px;
    margin-right: 6px;
    display: block;
    border-left: 2px solid #70757a;
    border-bottom: 2px solid #70757a;
    text-align: center;
    transition: all .05s;
    transform: rotate(-45deg);
}

.ques-text {
    max-height: 0;
    transition: all .5s;
}

.ques-text p {
    padding: 20px 0;
    line-height: 1.5;
}
input:checked + .ques-title::after {
    transform: rotate(135deg);
}

input:checked ~ .ques-text {
    max-height: 100vh;
}

b {
    font-weight: bold;
}

.ques-list {
    list-style: decimal;
    margin-left: 18px;
}

.ques-list li {
    padding: 4px 0;
}

.source-date {
    color: #70757a;
    font-size: 12px;
}

.ques-text p.source-date {
    margin-bottom: 20px;
    padding: 6px 0 0;
} 

h4 {
    font-weight: bold;
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 14px 0 10px;
}

.ques-text p.source {
    padding-bottom: 8px;
} 

.source a {
    color: #1a0dab;
    text-decoration: none;
}

.video-box {
    border-radius: 8px;
    background: #f0f6fd;
    overflow: hidden;
    margin-bottom: 20px;
}

.video-desc {
    padding: 14px;
    display: flex;
    flex-direction: column;
}

.video-desc::before {
    content:"";
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #f0f6fd;
    position: absolute;
    left: 220px;
    bottom: -441px;
    transform: scale(1, 1.2);
}

.fbk {
    position: relative;
    background:white;
    font-size: 12px;
    color: #70757a;
    display: inline-block;
    left: 572px;
    top: -8px;
    padding-left: 14px;
}

/* RELATED SEARCHES SECTION */

.ppl-ask.btm {
    margin-bottom: 20px;
}

.img-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 0;
}

.img-list a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
    font-size: 14px;
    position: relative;
    transition: all .25s linear;
    transition-delay: .1s;
    margin-top: 40px;
}

.img-list a:nth-child(2) {
    transition-delay: .15s;
}

.img-list a:nth-child(3) {
    transition-delay: .20s;
}

.img-list a:nth-child(4) {
    transition-delay: .25s;
}

.img-list a:nth-child(5) {
    transition-delay: .30s;
}

.img-list a:nth-child(6) {
    transition-delay: .35s;
}

.img-list a span {
    padding-left: 6px;
}

.img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 6px;
    z-index: 0;
}

.img-box img {
    width: 100%;
}

.img-box::after {
    content: "";
    background: rgba(0,0,0,.03);
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}

.img-box, .img-box::after {
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

.abc {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

input:checked + .abc > .img-box.small, input:checked + .abc > .img-box.small::after {
    margin-left: -54px;
}

input:checked + .abc > .def > .ques-title::after {
    transform: rotate(45deg) scale3d(1, -1, 1);
 
}

input:checked ~ .ques-text > .img-list a {
    margin-top: 0;
 
}

.def > .ques-title::after {
    transition: all .1s;
}

.def {
    flex: 1 1 auto;
}

.ques-title.related {
    padding: 20px 0;
}

.img-box.small, .img-box.small::after {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 0;
    margin-right: 14px;
    transition: all .2s ease-in-out;
}

.img-box.small::after {
    margin-top: 8px;
}

.see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.see-more a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 280px;
    padding: 4px 10px ;
    border: 1px solid #dadce0;
    border-radius: 18px;
    font-size: 14px;
    color: #1a0dab;
    text-decoration: none;
}

.see-more a:hover {
    background: #fafafa;
}

.see-more a span:nth-child(odd){
    flex-grow: 1;
}

.see-more a span:nth-child(even){
    flex-grow: 2;
    padding-left: 40px;
}

.see-more a svg {
    width: 20px;
    height: 20px;
    fill: #1a0dab;
}

.website-box {
    margin-top: 10px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    overflow: hidden;
}

a.website-top {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    border-bottom: 1px solid #dadce0;
    text-decoration: none;
}

.website-img {
    width: 58px;
    height: 58px;
    text-align: center;
    overflow: hidden;
    border-radius: 4px;
    margin-right: 14px;
}

.website-img img {
    height: 100%;
}

.website-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #3c4043;
}

.website-title {
    font: bold 18px 'Open Sans',arial,sans-serif;
}

.website-sub {
    font-size: 12px;
    padding-bottom: 6px;
}

.website-desc {
    color: #4d5156;
    font-size: 14px;
    line-height: 1.2;
    padding: 20px;
}

.website-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0 26px;
}

.website-search-button {
    border: 1px solid #dadce0;
    border-radius: 18px;
    padding: 8px 14px 8px 10px;
}

.website-search-button span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #3c4043;
}

.website-search-button span svg {
    width: 20px;
    height: 20px;
    fill: rgba(0,0,0,.54);
    padding-right: 4px;
}

.scd {
    top: -8px;
}

/* BOTTOM SEARCH TAGS */

.tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 640px;
    margin-left: 170px;
}

.tag {
    width: 310px;
    margin-bottom: 10px;
}

.tag a {
    background-color: #f1f3f4;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 48px;
}

.tag span {
    color: #202124;
    font-size: 16px;
}

.tag span:nth-child(1){
    padding: 10px;
    margin-right: 10px;
    color: #6f7070;
}


/* FOOTER */

.row-one-left, .dash-list, .row-two  ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.row-one-right {
    padding-right: 20px;
}

.row-one a, .row-two a {
    color: #70757a;
    text-decoration: none;
}

.row-one a:hover, .row-two a:hover {
    color: #3c4043;;
}

.row-one {
    padding: 20px 0 12px 170px;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
    line-height: 1.3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.cty {
    padding-right: 10px;
    border-right: 1px solid #dadce0;
    margin-right: 16px;
}

.city {
    font-weight: bold;
    color: #3c4043;
}

.city::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #70757a;
    border-radius: 100%;
    margin-right: 4px;
}

.dash-list {
    list-style-type: "-";
}

.dash-list li {
    margin-left: 10px;
    padding-left: 4px;
}

.row-two {
    padding: 12px 0 20px 170px;
}

.row-two li {
    padding-right: 30px;
}