html, body {
    height: 100%;
    min-width: 400px;
}

body, input {
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #222;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

 /* MAIN NAVIGATION */

 nav {
    flex-shrink: 0;
    box-sizing: border-box;
 }

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
    height: 60px;
}

.nav-item {
    margin: 0 7px;
    font-size: 13px;
}

.nav-link {
    color: rgba(0,0,0,0.87);
}

.nav-circle {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-circle:hover {
    background: #eee;
}

.nav-circle, .avatar {
    border-radius: 50%;
}

.avatar {
    width: 32px;
    height: 32px;
}

.g-apps {
    width: 24px;
    height: 24px;
    fill: #5f6368;
}

/* MAIN SECTIONS */

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
}

/* GOOGLE LOGO SECTION */

.google-logo {
    min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
}

.logo-container {
    max-height: 92px;
    position: relative;
    height: 100%;
    margin-top: auto;
}

.logo {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

/* SEARCH FORM SECTION */

.google-search {
    padding: 20px;
    max-height: 160px;
}

form {
    width: 100%;
}

.search-container {
    width: auto;
    max-width: 584px;
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
}
    
.search-box {
    width: auto;
    max-width: 584px;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
}

.search-box:hover {
    box-shadow: 0 2px 4px rgba(32,33,36,0.15),
                0 -1px 4px rgba(32,33,36,.05);
}

.inner {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

.left {
    padding-right: 13px;
    
}

.ico {
    height: 20px;
    width: 20px;
    fill: #9aa0a6;
}

.search-text {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.transp {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
}

input[type=text] {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}

.btns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

input[type=submit] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input[type=submit]:hover {
    border-color: #ddd;
}

/* LANGUAGES SECTION */

.google-languages {
    flex-grow: 1;
}

.add-lang {
    font-size: small;
    margin-bottom: 24px;
    line-height: 28px;
}

.add-lang a {
    padding: 0 3px;
}

.add-lang a:visited {
    color: #609;
}

/* FOOTER */

footer {
    background: #f2f2f2;
    font-size: 15px;
    flex-shrink: 0;
    box-sizing: border-box;
}

.country {
    border-bottom: 1px solid #dadce0;
    padding: 15px 30px;
    color: rgba(0,0,0,.54);
}

.ft-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
}

.ft-link {
    color: #70757a;
}

.ft-menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    white-space: nowrap;
    justify-content: space-between;
}

.ft-menu li {
    padding: 15px;
}

@media only screen and (max-width:1200px) {
    .ft-menu, .ft-menu ul {
        justify-content:space-evenly;
    }
}