body, input {
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
    color: green;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

 /* MAIN NAVIGATION */

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 6px;
    height: 60px;
}

.nav-item {
    margin: 0 7px;
    font-size: 13px;
}

.nav-link {
    color: rgba(0,0,0,0.87);
}

.nav-circle {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-circle:hover {
    background: #eee;
}

.nav-circle, .avatar {
    border-radius: 50%;
}

.avatar {
    width: 32px;
    height: 32px;
}

.g-apps {
    width: 24px;
    height: 24px;
}

svg, path {
    color: #5f6368;
}





.logo {
    max-height: 92px;
}